github_owner = "Burwood"

github_name = "terraform-gcp-greenfield"

branch = "^main$"

project_labels = {
    envrionment  = "prod"
    owner        = "its"
    billing_code = "012345"
}

//Optional - for development.  Will place all resources under a specific folder instead of org root
//parent_folder = "01234567890"