description        = "A description of the instance."
fileshare_capacity = 2660
fileshare_name     = "share1"
labels = {
  "application_name": "app_name",
  "name": "cluster"
}
modes = [
  "MODE_IPV4"
]
name    = "test-instance"
network = "default"
project = ""
tier    = "STANDARD"
zone    = "us-central1-b"