create_service_account             = "true"
enable_private_nodes               = false
enable_resource_consumption_export = false
horizontal_pod_autoscaling         = true
http_load_balancing                = false
logging_service                    = "logging.googleapis.com/kubernetes"
maintenance_start_time             = "05:00"
master_ipv4_cidr_block             = "172.16.0.0/28"
monitoring_service                 = "monitoring.googleapis.com/kubernetes"
name                               = "simple"
network                            = ""
network_policy                     = true
node_pool_1_auto_repair            = true
node_pool_1_auto_upgrade           = true
node_pool_1_disk_size_gb           = 100
node_pool_1_disk_type              = "pd-standard"
node_pool_1_image_type             = "COS"
node_pool_1_initial_node_count     = 1
node_pool_1_local_ssd_count        = 0
node_pool_1_machine_type           = "g1-small"
node_pool_1_max_count              = 15
node_pool_1_min_count              = 1
node_pool_1_name                   = "core-pool"
node_pool_1_oauth_scope            = "https://www.googleapis.com/auth/cloud-platform"
node_pool_1_preemptible            = false
node_pool_2_auto_repair            = true
node_pool_2_auto_upgrade           = true
node_pool_2_disk_size_gb           = 100
node_pool_2_disk_type              = "pd-standard"
node_pool_2_image_type             = "COS"
node_pool_2_initial_node_count     = 1
node_pool_2_local_ssd_count        = 0
node_pool_2_machine_type           = "g1-small"
node_pool_2_max_count              = 30
node_pool_2_min_count              = 1
node_pool_2_name                   = "user-pool"
node_pool_2_oauth_scope            = "https://www.googleapis.com/auth/cloud-platform"
node_pool_2_preemptible            = false
project_id                         = ""
region                             = "us-central1"
regional                           = true
remove_default_node_pool           = true
skip_provisioners                  = false
subnetwork                         = ""
zones = [
  "us-central1-a"
]